
nav{
    text-align: left;
    border: 3px solid black;
    border-radius: 10%;
    max-width: fit-content;
    margin: 0 auto;
    float: left;
    height: fit-content;
    color: aliceblue;
    padding: 5px;
    line-height: 30px;
    background-color: rgb(255, 0, 221);
    float: left;
}
.p1{
    text-align: right;
    border: 3px solid black;
    border-radius: 10%;
    max-width: fit-content;
    margin: 0 auto;
    height: 32px;
    width: auto;
    padding: 5px;
    line-height: 30px;
    background-color: rgb(255, 0, 221);
    float: right;
}
button{
    padding: 5px ;
    background-color: rgb(70, 0, 128);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: default;
  
}
Button:hover{
    background-color: plum;
    
}

header{
    text-emphasis: bold;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    color: aliceblue;
}
body{
    text-align: center;
    background-color: blueviolet;
    color: aliceblue;
}
.p2{
    margin:  auto;
    margin-right: 5px;
    text-align: left;
    float: inline-start;
    padding: 10px;
}
.p3{
    align-items: center;
}
table, th,td{
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
    text-align: justify;
    margin-right: 830px;
    margin-left: auto;
}
th, tr{
    background-color: rgb(234, 0, 255);
    color: black;
}
footer{
    height: auto;
    width: fit-content;
    margin-top: auto;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
}